* {
  max-width: 1140px;
  margin: 0 auto;
}
/* shared style */
.display-flex {
  display: flex;
}
.text-color1 {
  color: #a087a1;
}
.text-color2 {
  color: #252432;
}
.text-color3 {
  color: #e95a08;
}

/* nav styles */
nav {
  max-width: 1140px;
  margin: 0 auto;

  align-items: center;
  height: 80px;
  gap: 590px;
}
nav img {
  /* height: 80px;
  width: 130px; */
  width: 100%;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 45px;
}
/* banner styles */
.banner {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 95px;
  margin-bottom: 130px;
  align-items: end;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}

.banner img {
  width: 100%;
}
.div4 {
  flex: 1;
}
.div5 {
  flex: 1;
}
.banner-description {
  width: 570px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.37rem;
}
/* plants section style */
.div6 {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}
.div6 h2 {
  font-size: 3.125rem;
  font-weight: bold;
}
.div6 p {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  width: 880px;
}
.div7 {
  max-width: 1140px;
  margin: 0 auto;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.div7 img {
  width: 270px;
}
.desciption1 {
  font-weight: 500;
  font-size: 1.375rem;
  width: 270px;
  margin: 0;
  margin-top: 30px;
  text-align: center;
}
.desciption2 {
  font-weight: bold;
  font-size: 1.375rem;
  width: 270px;
  margin: 0;
  text-align: center;
}
.div7 button {
  width: 270px;
  margin: 0;
  padding: 15px 50px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
}
/* plants lover section styles */
.plants-lover-container {
  display: flex;
  gap: 60px;
  height: 570px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.container-left {
  width: 100%;
}
.container-left {
}
.container-right img {
  width: 200px;
  height: 200px;
}
.container-right h1 {
  font-weight: bold;
  font-size: 4rem;
}
.container-right ul {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
/* latest deals section */

.latest-deal-container {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}
.latest-deal-container h1 {
  font-size: 3.125rem;
  font-weight: bold;
}
.latest-deal-container p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  width: 880px;
}

.latest-deal {
  display: flex;
  gap: 10px;
  height: 420px;
}
.latest-deal .div4 {
  gap: 10px;
}
.latest-deal .div1 {
  background-image: url(../assets/deal-bloom.png);
  width: 360px;
  height: 195px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.latest-deal .div2 {
  background-image: url(../assets/deal-ana.png);
  width: 360px;
  height: 195px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.latest-deal .div3 {
  background-image: url(../assets/deal-zabo.png);
  width: 750px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.latest-deal h4,
h2,
a {
  color: #ffffff;
}

/* join styles */
.join {
  max-width: 1440px;
  height: 530px;
  background-image: url(../assets/news-letter-bg.png);
  margin-top: 130px;
}
.div8 {
  align-items: center;
  text-align: center;
  padding: 190px 305px;
}
.div8 h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  gap: 20px;
}
.div8 input {
  width: 400px;
  padding: 15px 8px;
}
.div9 {
}
.div8 button {
  width: 80px;

  padding: 15px 8px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
}

/* footer style */
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 160px;
}
footer p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}
footer ul {
  list-style: none;
  text-decoration: none;
}
footer .div1 ul {
  color: rgba(107, 114, 128, 1);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .div2 ul {
  color: rgba(107, 114, 128, 1);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .div3 ul {
  display: flex;
  gap: 24px;
}
/* media query */
@media screen and (max-width: 576px) {
  nav {
    max-width: 360px;
    gap: 140px;
    justify-items: center;
  }
  .div1,
  .div2,
  .div3 {
    display: none;
  }
  nav img {
    height: 35px;
    width: 60px;
  }
  /* banner responsive */
  .banner {
    flex-direction: column-reverse;
    max-width: 400px;
  }
  .div4 {
    max-width: 390px;
  }
  /* plants responsive */
  .div7 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  /* footer responsive */
  footer {
    grid-template-columns: repeat(1, 1fr);
  }
  /* plants lover section responsive */
  .plants-lover-container {
    flex-direction: column;
    max-width: 360px;
    max-height: 650px;
  }
  .container-right img {
    display: none;
  }
  /* latest deals */
  .latest-deal {
    flex-direction: column;
  }
  .latest-deal .div3 {
    width: 360px;
    height: 180px;
  }
}
